/* selectores:

.name (class)

#name (id)

[src="logo.jpg"] (atributos)  

p#parrafo (especificidad){
 
}

*/

:root {
    --blanco: #ffffff;
    --obscurdo: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8 rem;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-weight: var(--fuente-principal);
}

.titulo span {
    font-size: small;
}

h2 span{
    font-size: small;
}

.contenedor{
    width: 120rem;
       margin: 0 auto;
}


.navegacion-principal{
    background-color: var(--secundario);
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;
    
}

.navegacion-principal a{
    padding: 1rem; 
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover{
    background-color: var(--primario)
}